[Unit]
Description=Monitoring System Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/monitoring-system/monitoring-system.out -config=/etc/monitoring-system -save-data=/usr/share/monitoring-system -static-files=/usr/bin/monitoring-system/web/static
WorkingDirectory=/usr/bin/monitoring-system
Restart=always
RestartSec=5
Environment=GO_ENV=production

[Install]
WantedBy=multi-user.target
